@font-face {
	font-family: starWarsFont;
	src: url('./assets/mandalore/mandalore.ttf');
}
@font-face {
	font-family: starWarsFont2;
	src: url('./assets/star_jedi/starjedi/starjedi.ttf');
}

html {
	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('./assets/default-grogu.jpg');
	background-size: 100% auto;
}

/* Characters */
.backgroundOne {
	background-image: url('./assets/background-vader.jpg');
	background-size: 100% auto;
}
/* Planets */
.backgroundTwo {
	background-image: url('./assets/Courscant-planet.png');
	background-size: 100% auto;
}
/* Films */
.backgroundThree {
	background-image: url('./assets/movie-background.jpg');
	background-size: 100% auto;
}
/* Species */
.backgroundFour {
	background-image: url('./assets/Chewbaca-and-ewok.png');
	background-size: 120% auto;
}
/* Vehicles */
.backgroundFive {
	background-image: url('./assets/at-at-day.jpg');
	background-size: 100% auto;
}
/* Starships */
.backgroundSix {
	background-image: url('./assets/bakgrundsbild-spaceships.jpg');
	background-size: 100% auto;
}

.App {
	width: 80%;
	margin: 0 auto;
}

.nav {
	display: flex;
	width: 100%;
	/* background-color: brown; */
	background-image: url('./assets/Lasersvärd.jpg');
	background-position: center;
	padding: 2em;
	justify-content: space-evenly;
}

.nav button {
	cursor: pointer;
	padding: 0.3em;
	min-width: 12%;
	font-size: 1.2rem;
	font-family: starWarsFont;
}

.nav button:hover {
	background-color: rgb(80, 202, 78);
	box-shadow: 0.5em 0.2em 2em rgb(159, 235, 162);
}

.title {
	text-align: center;
	font-size: 5rem;
	font-family: starWarsFont;
	color: yellow;
	text-shadow: -12px 10px 10px black;
}

.data-container {
	color: gold;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(69, 85, 105, 0.213);
	border-radius: 10px;
	padding: 2em;
	justify-content: space-evenly;
	max-height: 90vh;
	/* display: contents; */
}

.data-not-visible {
	display: none;
}

.item-column {
	font-family: starWarsFont;
	font-size: 2rem;
	border-radius: 10px;
	/* text-align: center; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	flex: 1;
	background-color: rgba(9, 9, 39, 0.838);
	max-width: 500px;
	padding: 1em 0;
	max-height: 100%;
	/* max-width: fit-content; */
}

.items:hover {
	background-color: rgb(9, 32, 50);
}

.page-btn:hover {
	background-color: lightgray;
}

.data-column {
	display: flex;
	border-radius: 10px;
	flex-wrap: wrap;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	background-color: rgba(9, 9, 39, 0.838);
	max-width: 800px;
	/* text-align: justify; */
	display: inline-block;
	overflow-y: auto;
	max-height: 90vh;
}

.data-column::-webkit-scrollbar {
	width: 11px;
	scrollbar-width: thin;
	background: rgba(28, 28, 62, 0.604);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(247, 216, 40, 0.838);
	border-radius: 6px;
}

.data-column p {
	margin: 0.4em;
	/* font-size: 1.8rem; */
	padding: 0.5em 0 0 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	/* font-weight: 100; */
	/* text-align: center; */
	font-weight: 800;
}

.data-column span {
	font-weight: 400;
	margin-left: 0.4em;
}

.data-column h2 {
	font-family: starWarsFont;
	text-align: center;
	background-color: rgba(68, 68, 126, 0.325);
	font-size: 4rem;
	padding: 0.3em;
	margin-bottom: 1.5em;
}

.items {
	/* display: flex; */
	/* justify-content: center;
    align-items: cente; */
	border: 1px solid blue;
	padding: 0.2em;
	min-width: 350px;
	text-align: center;
    cursor: pointer;
}

.page {
	display: flex;
}

.page p {
	display: flex;
	margin: 0;
	padding: 0 0.5em;
	align-items: center;
}

.search-container {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
}

.search-btn {
	cursor: pointer;
	/* padding: 0em; */
	width: 100px;
	font-family: starWarsFont;
}

.search-field {
	padding: 0.8em;
	width: 9em;
}

.search-btn,
.search-field {
	font-size: 1.1rem;
}

.page-btn {
	padding: 0.5em;
	font-size: 1.4rem;
	cursor: pointer;
}
